@import url(fields/index.css);

form {
  margin-top: 3rem;

  & .legend-title {
    gap: .75rem;
  }
}

fieldset {
  border: none;
  display: grid;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.about {
  gap: 1rem;
}

input[type="text"], input[type="datetime-local"], input[type="email"], input[type="tel"], textarea {
  width: 100%;
  padding-block: .8125rem;
  padding-inline: 1rem;
  border-radius: .75rem;
  border: 1px solid var(--input-stroke);
}

input[type="color"] {
  width: 100%;
}

.theme-inner {
  border: 1px solid var(--input-stroke);
  background-color: var(--shape-button);
  border-radius: .75rem;
  img {
    width: 100%;
  }
}

button {
  background-color: var(--brand-dark);
  margin-left: auto;
  padding-block: .8125rem;
  padding-inline: 1.25rem;
}