* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Brand Colors */
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  /* Accent Colors */
  --purple: #B259FF;
  --fuschie: #FF59F9;
  --pink: #FF598B;
  --orange: #FF8B59;
  --yellow: #FFCD59;
  --lime: #E1FF59;
  --green: #59FF91;
  --cyan: #59FFF9;
  --navy: #6A59FF;

  /* Feedback */
  --danger: #FF5959;

  /* Input */
  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  /* Shape */
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  /* Text */
  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;


  /* Tipografia */
  --font-family-leckerli-one: "Leckerli One", cursive;;
  --font-family-baloo-2:"Baloo 2", sans-serif;;
  --font-family-opens-sans: "Open Sans", sans-serif;;
  --logo: 400 2.5rem var(--font-family-leckerli-one);
  --heading-md: 700 1.75rem var(--font-family-baloo-2);
  --heading-sm: 700 1.125rem var(--font-family-baloo-2);
  --body-md: 1rem var(--font-family-opens-sans);
  --body-sm: 0.875rem var(--font-family-opens-sans);
  --body-xs: 0.75rem var(--font-family-opens-sans);
}

body {
  overflow: hidden;
  background-color: var(--shape-background);
  font: var(--body-sm);
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.grid {
  display: grid;
}

.grid-cols2 {
  grid-template-columns: 1fr 1fr;
  gap: .75rem;
}

.grid-cols4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gap8 {
  gap: .5rem;
}

h1 {
  font: var(--logo);
  color: var(--pink);
}

h2 {
  font: var(--heading-md);
}

legend {
  font: var(--heading-sm);
}

label {
  font: var(--body-sm)
}

input, textarea {
  font: var(--body-md);
  background-color: var(--input-base);
  margin-top: .75rem;
  &::placeholder {
    color: var(--input-placeholder);
  }
}

h2, legend, button {
  color: var(--text-heading);
}

label, p {
  color: var(--text-body);
}

button {
  font: 600 1rem var(--text-heading);
}

a {
  color: var(--brand-light);
}